# Gluetun configuration options
# See https://github.com/qdm12/gluetun-wiki/blob/main/setup/options.md for all options

VPN_SERVICE_PROVIDER=custom
VPN_TYPE=wireguard
# WIREGUARD_PRIVATE_KEY=your_private_key
# WIREGUARD_ADDRESSES=10.0.0.1/32

# Ports to open in the firewall (e.g., for Superseedr)
# This will be automatically populated from CLIENT_PORT in your .env if using the default docker-compose.yml
# FIREWALL_VPN_INPUT_PORTS=6881
